* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#main h2{
    color: aliceblue;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

#piano {
    display: flex;
    position: relative;
    border-radius: 10px;
    gap: 1px;
    background-color: rgb(79, 78, 78);
    padding: 20px;
}

.white {
    width: 60px;
    height: 200px;
    background: white;
    position: relative;
    margin: 0 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.black {
    width: 40px;
    height: 120px;
    background: black;
    position: absolute;
    top: 0;
    left: 40px;   
    z-index: 2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.keyText {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    font-weight: bold;
    pointer-events: none;
}

.black .keyText {
    color: white;
}
